<div class="fl w-100 pa2 tc">
  <h3 class="noto fc-brand-primary f3 fw6 w-100 tl">
    Timeline
  </h3>
  <div class="flex justify-center flex-row flex-wrap overflow-hidden timeline_slider">
    <div class="mw8 timeline_frame relative overflow-hidden nowrap f0 lh-0">
      <ul class="timeline_slides pl0 dib">
        <li class="relative dib mw8 w-100 js_slides">
          <div class="cf ws-normal " id="timeline2011">
            <div class="fl ph2 relative w-50">
              <h1 class="f1 tc center mt3 mb6 fc-brand-primary">2011</h1>
            </div>
            <div class="fl ph2 relative w-50" >
              <object type="image/svg+xml" data="{{asset "img/csuf.svg"}}" class="w4 h4 fc-timeline"></object>
              <h4 class="f4 fw4 tl fc-alternate lh-title mb1">Graduated from Cal State Fullerton</h4>
              <p class="f6 fw2 tracked tl fc-alternate lh-copy">Thesis written on Russian Perspectives of St. Petersburg. Graduated with a Bachelor's Degree in History</p>
            </div>
          </div>
        </li>
        <li class="relative dib mw8 w-100 js_slides">
          <div class="cf ws-normal " id="timeline2012">
            <div class="fl ph2 relative w-50">
              <h1 class="f1 tc center mt3 mb6 fc-brand-primary">2012</h1>
            </div>
            <div class="fl ph2 relative w-50">
              <object type="image/svg+xml" data="{{asset "img/prove.svg"}}" class="w4 h3 fc-timeline"></object>
              <h4 class="f4 fw4 tl fc-alternate lh-title mb1"> Prove Media (formerly Placements Media)
              </h4>
              <p class="f6 fw2 tracked tl fc-alternate lh-copy">Built custom Drupal 7 modules for importing large data directory scrapes from JSON to MYSQL. Built extensive UI Libraries in jQuery for clients like Fidelity Life and Quixote Studios.
              <br />
              <small class="">September 2012 - June 2013</small>
              </p>
            </div>
          </div>
        </li>
        <li class="relative dib mw8 w-100 js_slides">
          <div class="cf ws-normal " id="timeline2013">
            <div class="fl ph2 relative w-50">
              <h1 class="f1 tc center mt6 mb3 fc-brand-primary">2013</h1>
            </div>
            <div class="fl ph2 relative w-50">
              <object type="image/svg+xml" data="{{asset "img/cheri.svg"}}" class="w4 h3 fc-timeline"></object>
              <h4 class="f4 fw4 tl fc-alternate lh-title mb1">
                Cheri Media Group
              </h4>
              <p class="f6 fw2 tracked tl fc-alternate lh-copy">
                Grew reader base on HiphopDX by 20% (about 8 million monthly readers) from 2014 to 2015 and increased time on site by ~30 sec through front-end performance optimizations and advanced page caching techniques. Relaunched 3 properties (HipHopDX.com, Roughstock.com, and BattleRap.com) with over 15 years of content in less than 5 months. Spearheaded editorial product initiatives like parallax super features, single page javascript applications for the Wordpress editor and dynamic user comment sorting.
                <br />
                <small class="">October 2013 - August 2015</small>
              </p>
            </div>
          </div>
        </li>
        <li class="relative dib mw8 w-100 js_slides">
          <div class="cf ws-normal " id="timeline2015">
            <div class="fl ph2 relative w-50">
              <h1 class="f1 tc center mt3 mb6 fc-brand-primary">2015</h1>
            </div>
            <div class="fl ph2 relative w-50">
              <object type="image/svg+xml" data="{{asset "img/atv.svg"}}" class="w4 h3 fc-timeline"></object>
              <h4 class="f4 fw4 tl fc-alternate lh-title mb1">
                AwesomenessTV
              </h4>
              <p class="f6 fw2 tracked tl fc-alternate lh-copy">
                Launched a product catalogue that lead to a 20 million dollar deal with international distribution. Shipped 5 web based products in 2016 that affected sales, talent, production and distribution.
                <br />
                <small class="">September 2015 - Present</small>
              </p>
            </div>
          </div>
        </li>
        <li class="relative dib mw8 w-100 js_slides">
          <div class="cf ws-normal " id="timeline2017">
            <div class="fl ph2 relative w-50">
              <h1 class="f1 tc center mt3 mb6 pb5 fc-brand-primary">
                2017
              </h1>
            </div>
            <div class="fl ph2 relative w-50">
              <h4 class="f4 fw4 tl fc-alternate lh-title mb1">
                (The Present and Future)
              </h4>
              <p class="f6 fw2 tracked tl fc-alternate lh-copy">
                Currently living in Los Angeles with my fiancé and a <br />
                westie terrier named Einstein. See my goals for <a class="link fc-timeline" href="/2017/03/02/2017-goals/">2017</a>
                <br />
                <small class="">Present</small>
              </p>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <ul class="list flex tc pl0 timeline_controls">
      <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link"  data-slide-index="0">
        <span class="db center mv2">2011</span>
        <svg class="timeline-line db center">
          <use xlink:href="{{asset "img/misc.svg"}}#timeline-tick"></use>
        </svg>
      </li>
      <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link" data-slide-index="1">
        <span class="db center mv2">2012</span>
        <svg class="timeline-line db center">
          <use xlink:href="{{asset "img/misc.svg"}}#timeline-tick"></use>
        </svg>
      </li>
      <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link" data-slide-index="2">
        <span class="db center mv2">2013</span>
        <svg class="timeline-line db center">
          <use xlink:href="{{asset "img/misc.svg"}}#timeline-tick"></use>
        </svg>
      </li>
      <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link">
        <span class="db center h1 mv2"></span>
        <svg class="timeline-line db center">
          <use xlink:href="{{asset "img/misc.svg"}}#timeline-tick"></use>
        </svg>
      </li>
      <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link" data-slide-index="3">
        <span class="db center mv2">2015</span>
        <svg class="timeline-line db center">
          <use xlink:href="{{asset "img/misc.svg"}}#timeline-tick"></use>
        </svg>
      </li>
      <li class="fl dib tc w3 f5 fw2 link fc-timeline fc-timeline-link">
        <span class="db center h1 mv2"></span>
        <svg class="timeline-line db center">
          <use xlink:href="{{asset "img/misc.svg"}}#timeline-tick"></use>
        </svg>
      </li>
      <li class="fl dib tc w3 f5 fw2 link fc-timeline  fc-timeline-link" data-slide-index="4">
        <span class="db center mv2">2017</span>
        <svg class="timeline-line db center">
          <use xlink:href="{{asset "img/misc.svg"}}#timeline-tick"></use>
        </svg>
      </li>
  </ul>
  </div>
</div>
