{{!< default}}

{{#author}}
<div class="authbox">
		<h1 class="authbox--name">{{name}}</h1>

		{{#if img_url}}
			<img class="authbox--avatar" src="{{img_url}}" alt="{{name}}">
		{{/if}}

		{{#if bio}}
			<p class="authbox--bio">{{bio}}</p>
		{{/if}}

		{{#if location}}
			<span class="authbox--location">{{location}}</span>
		{{/if}}

		{{#if website}}
			<a href="{{website}}">{{website}}</a>
		{{/if}}
		</div>

		<span>{{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}</span>
{{/author}}

{{> "loop"}}
