<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{meta_title}}</title>
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="cleartype" content="on">
		<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
		<link rel="shortcut icon" href="{{asset "favicon.ico"}}">
		<!-- <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" /> -->
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css" />
		{{ghost_head}}
	</head>
	<body class="{{body_class}} noto normal lh-solid bg-color">
		<div class="page-wrap">
				{{navigation}}
			<main role="main" class="z-0">
					{{> site-head}}

					{{{body}}}

					{{ghost_foot}}

					{{> site-footer}}
			</main>
			<script async type="text/javascript" src="/assets/js/main.js"></script>
			<script type="text/javascript" src="/assets/js/application.js"></script>
			<!-- <script type="text/javascript" src="{{asset "js/application.js"}}"></script>
			<script type="text/javascript" src="{{asset "js/main.js"}}"></script> -->
		</div>
	</body>
</html>
