{{!< default}}

{{#post}}
	{{#has tag="work"}}
		{{> work-post}}
	{{else}}
		{{#featured}}
			{{> feature-post}}
		{{else}}
			{{> standard-post}}
		{{/featured}}
	{{/has}}

	<div class="db w-100">
		<hr />
		<div class="cf ph3 ph5-ns pv5">
			<a class="dib br3 pv2 ph3 no-underline brand-secondary-hightlight fc-alternate  fc-timeline-link" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;via=scneptune&amp;url={{url absolute="true"}}"
				onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
				<svg class="fa fa-twitter v-mid w1 h1">
					<use xlink:href="{{asset "img/socials.svg"}}#twitter"></use>
				</svg>
				<span class="f4 fw6 v-mid h1"> Tweet About This Article</span>
			</a>
		</div>
		<div>
			{{> next-post}}
			{{> previous-post}}
		</div>
	</div>

{{/post}}
